.prod-card {
  flex-basis: calc(100% / 5 - 30);
  max-width: 120px;
  width: 100%;
  margin-left: 30px;
  // margin-right: 20px;
  margin-bottom: 30px;
  &__item {
    display: block;
  }
  &__img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .15);
    transition: all .5s;
    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, .22);
      cursor: pointer;
    }
  }
  &__name-book {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #595959;
    text-align: center;
    padding: 10px;
    height: 86px;
    overflow-y: hidden;
    transition: all .5s;
    &:hover {
      color: #2c2b2b;
    }
  }
  &__price-book {
    font-size: 22px;
    line-height: 24px;
    color: #f05356;
    text-align: center;
    padding-bottom: 5px;
  }
}